/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 15px;
  left: 15px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(32, 32, 65);
}

/* General sidebar styles */
.bm-menu {
  background: rgb(124, 49, 120);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 12px;
  width: 12px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

.Home {
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 0%;
  margin-right: 0%;
  overflow: hidden;
}

.jumbotron-container {
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
    overflow: hidden;
}

.jumbotron-home {
    background: linear-gradient(to right, rgb(32, 32, 65), rgba(0,0,0,0)), url("../../assets/gedung-sate.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: fill;
    width: 100%;
}

.jumbotron-title {
    color: white;
    font-weight: bold;
    font-family: 'Quicksand';
    font-style: normal;
    margin-left: 12%;
    margin-right: 40%;
}

.jumbotron-description {
    color: white;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: normal;
    margin-left: 12%;
    margin-right: 40%;
    margin-top: 30px;
}

.jumbotron-button {
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: rgb(124, 49, 120);
    border-color: rgba(0,0,0,0);
}

@media screen and (min-width: 769px) {
    .jumbotron-title {
      font-size: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .jumbotron-title {
      font-size: 18px;
    }
  }

  @media screen and (min-width: 769px) {
    .jumbotron-description {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .jumbotron-description {
      font-size: 12px;
    }
  }

  /* Cards section */
  .card-icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      /* width: 60%; */
      /* height: auto; */
  }

  .Home .jumbotron-container *, ::after, ::before {
    /* display: none; */
    box-sizing: content-box;
  }

  .card-container {
    padding-left: 0%;
    padding-right: 0%;
    /* margin-left: 20px;
    margin-right: 5px; */
    overflow: hidden;
  }

  .card-wrapper {
    width: 90%;
    height: 80%;
    border-radius: 15px;
  }

  .Home .card-wrapper .card-title {
      /* font */
      text-align: center;
      font-family: 'Quicksand';
      font-weight: bold;
      margin-top: 5%;
      margin-bottom: 15%;
      font-size: 2.25vw;
  }

  .card-title > a {
    color: black;
  }

  .card-body {
    padding-top: 5%;
  }

  .card-title-admin {
    font-family: 'Comfortaa'
  }

  .card-button {
    background: rgb(124, 49, 120);
    border-color: rgba(0,0,0,0);
  }

  /* Destination Section */
  .Home .destination-title {
    margin-top: 5px;
    font-family: 'Comfortaa';
    margin-left: 8%;
    font-size: 3vw;
  }

  .Home .destination-href {
    font-size: 2.6vw;
  }

  .Home .destination-wrapper {
    background: rgba(251, 251, 251, 1);
    margin-bottom: 5px;
  }

/* .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.flex-container > div {
    margin: 3px;
} */

.card-wrapper-admin {
  margin-top: 10px;
}

.card-subtitle-admin {
  font-family: 'Comfortaa';
  text-align: center;
}