.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-card-1 {
    font-size: 0.7rem;
}

.text-card-2 {
    font-size: 0.9rem;
}

.text-card-0 {
  font-size: 0.6rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container > div {
  margin: 3px;
}

.color-green-light {
  color: #6FCF97;
}

.color-purple-light {
  color: #BC9CFF;
}


.font-quicksand {
  font-family: 'Quicksand';
}

.va-font-bold {
  font-weight: bold;
}

.font-comfortaa {
  font-family: 'Comfortaa';
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
  .va-height-card {
    height: 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .example {background: green;}
  .va-height-card {
    height: 300px;
  }
}



@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300');



.test-stroke {
  background: linear-gradient(45deg,#BC9CFF, #8BA4F9);
  border-radius: 30px !important;
  line-height: 16px !important;
}